
<script src="https://kit.fontawesome.com/abd6d4a7ab.js" crossorigin="anonymous"></script>
</div>
<!-- <div class="footer-padding"></div> -->
  <div class="footer">
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav navbar-left">
        <!-- 6 -->
          <li id="T&C"><a href="/Terms&Conditions">Terms&Conditions</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="linkedin"><a href="https://www.linkedin.com/in/vinayak-pandey-1597061b8/"><i class="fa-brands fa-linkedin fa-3x"></i></a></li>
          <li id="twitter"><a href="https://twitter.com/?lang=en-in"><i class="fa-brands fa-twitter fa-3x"></i></a></li>
        </ul>
    </div>
  </nav>
</div>
</body>
</html>
