<%- include('partials/authentication_header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-solid fa-lock fa-6x"></i>
    <!-- <h1 class="display-3">Secrets</h1> -->
    <h1>Enter into my blog world</h1>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/authentication_footer') %>